* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background: rgb(237, 238, 174);
  background: radial-gradient(
    circle,
    rgba(237, 238, 174, 1) 0%,
    rgba(15, 68, 31, 1) 100%
  );
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  color: black;
  font-size: 50px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.content {
  display: flex;
  justify-content: center;
  width: 500px !important;
  height: 150px !important;
  margin: 0 auto;
}

.container {
  background-color: #24232b;
  padding: 24px;
  width: 500px;
  margin-top: 2%;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
  color: white;

  .cpybtn {
    height: 30px;
    font-size: 10px;
  }
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #2a8b8b;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.charLength {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;

  span {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
  }
}

.checkboxs {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  font-weight: 700;

  div {
    padding-bottom: 20px;
    gap: 5px;
    display: flex;
  }
}

.password-strength {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.generateBtn {
  width: 100%;
  font-size: 15px;
  padding: 10px;
}

.errorMsg {
  color: darkred;
  padding-bottom: 5px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  h1 {
    font-size: 25px;
    font-weight: 900;
  }
}
